.ul {
  padding: unset;
  margin-right: -1rem;
  overflow: hidden;
  overflow-y: auto;
  flex: 1;
}

.ul li {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 2rem 0rem 0rem 2rem;
}

.ul li p {
  max-width: 20ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.isActive {
  background-color: var(--primary);
}
